* {
  margin: 0 auto;
  padding: 0px;
}
body {
  background-image: url("images/dollarSignLarge.png");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 50% 100%;
  background-color: #eeeeee;
}
a:link {
  color: black;
}
a:visited {
  color: black;
}
a:hover {
  color: green;
}
a:active {
  color: blue;
}
h1 {
  font-size: 36px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: darkslategray;
  text-shadow: 2px 2px 2px white;
  text-align: center;
}
h2 {
  font-size: 16px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  text-align: center;
}
h3 {
  font-size: 14px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
  padding: 1px 1px;
}
h4 {
  font-size: 14px;
  font-family: "Courier New", Courier, monospace;
  color: darkgreen;
  padding: 1px 1px;
}
h5 {
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
  padding: 1px 1px;
  text-align: center;
}
h5:hover {
  color: greenyellow;
  text-shadow: 2px 1px 2px darkgreen;
}
.main-table {
  width: 100%;
  border-spacing: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.input-table {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0.75rem;
}
.input-table input:not(.my-buttons) {
  width: 140px;
  border: 1px solid #aaaaaa;
  border-left: 4px solid green;
  border-radius: 5px;
}
.input-textbox {
  font-size: 14px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: green;
  padding: 6px 4px 4px 6px;
}
input:not([type="date"]) {
  line-height: 20px;
}
#expense-date {
  width: 160px;
}
#expense-vendor {
  width: 160px;
}
#expense-description {
  width: 250px;
}
#expense-amount {
  width: 80px;
}
tbody tr:hover {
  background: rgba(0, 255, 0, 0.22);
}
tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.22);
}
th {
  background: rgba(0, 255, 0, 0.22);
  border-bottom: 1px solid green;
  border-radius: 2px;
  font-size: 14px;
  text-align: center;
  padding: 2px 0px;
}
td {
  border: 0px solid green;
  border-radius: 2px;
  font-size: 13px;
  color: green;
  padding: 10px 10px 8px 10px;
}
.my-buttons {
  padding: 4px 6px;
  border-radius: 5px;
  font-size: 16px;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: darkslategray;
  box-shadow: 0 2px 4px 0 darkgreen;
}
.my-buttons:hover {
  color: green;
  text-shadow: 1px 1px 3px greenyellow;
}
.footer-table {
  border-top: 1px solid green;
  border-left: 0px;
  border-right: 0px;
  width: 100%;
  text-align: center;
}
.vendor-format {
  font-weight: bold;
}
.description-format {
  font-size: 11px;
}
.id-format {
  display: none;
  text-align: center;
}
.date-format {
  text-align: center;
  font-size: 12px;
}
.amount-format {
  text-align: right;
  padding-right: 12px;
  font-size: 12px;
  font-weight: bold;
}
.amount-format::before {
  content: "$";
}